hyml,
body {
  /* Light blue/light-blue-100 */
  position: absolute;
  width: auto;
  left: 40px;
  top: 40px;
  padding: 0px;
  gap: 40px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #868e96;
}

header {
  position: absolute;
  left: 84px;
  top: 40px;
}

section {
  position: relative;
}

#input {
  position: absolute;
  top: 60px;
  left: 280px;
}

/* Texto Digite seu  texto aqui */

section input {
  position: absolute;
  width: 680px;
  height: 48px;
  left: 240px;
  top: -30px;

  border: 1px solid #868e96;
  color: #868e96;
  border-radius: 22px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
}

section input::placeholder {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;

  color: #868e96;
}

#position {
  position: absolute;
  top: 700px;
  left: 260px;
  margin: auto;
}

#exclamacaoAviso img {
  /* Apenas letras minúsculas e sem acento. */

  flex: none;
  order: 1;
  flex-grow: 0;
  width: 228px;
  height: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  background: #495057;
  opacity: 1;
}

#exclamacaoAviso {
  /* Apenas letras minúsculas e sem acento. */

  position: absolute;
  width: 228px;
  height: 18px;
  top: 645px;
  margin-left: 530px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  /* Gray/gray-400 */

  color: white;

  opacity: 1;

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Botões */

#button {
  display: flex;
}

#btn_cript {
  position: absolute;
  width: 280px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background: #ced4da;
  border: 1px solid #868e96;
  color: black;
  border-radius: 22px;

  font-family: 'Inter';
  font-size: 20px;

  bottom: 50px;
  margin-left: 30px;
  cursor: pointer;
}

#btn_cript:hover {
  background-color: #868e96;
  color: white;
  border: 1px solid black;
}

#btn_descript {
  position: absolute;
  width: 280px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background: #ced4da;
  border: 1px solid #868e96;
  color: black;

  border-radius: 22px;
  font-family: 'Inter';
  font-size: 20px;

  bottom: 50px;
  margin-left: 350px;
  cursor: pointer;
}

#btn_descript:hover {
  background-color: #868e96;
  color: white;
  border: 1px solid black;
}

#btn3 {
  position: absolute;
  width: 280px;
  height: 50px;
  padding: 24px;
  bottom: 50px;
  margin-left: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ced4da;
  color: black;
  border: 1px solid #868e96;
  border-radius: 22px;

  font-family: 'Inter';
  font-size: 20px;
  cursor: pointer;
}

#btn3:hover {
  background-color: #adb5bd;
  color: white;
  border: 1px solid black;
}

aside {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 1020px;
  top: 283px;
}

#card svg {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 25px;
  top: 243px;
}

#card {
  position: absolute;
  width: 400px;
  height: 890px;
  left: 350px;
  top: -300px;

  /* White */

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#card h3 {
  width: 336px;
  height: 58px;

  line-height: 120%;
  margin-top: 550px;
  margin-left: 35px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;

  /* Gray/gray-500 */

  color: #343a40;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#card p {
  /* Digite um texto que você deseja criptografar ou descriptografar. */
  line-height: 150%;
  margin-left: 35px;

  width: 336px;
  height: 48px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  text-align: center;

  /* Gray/gray-400 */

  color: #495057;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#card2 {
  display: none;
  padding: 10px;
  position: absolute;
  width: 400px;
  height: 890px;
  left: 350px;
  top: -310px;

  /* White */

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#show {
  position: absolute;
  width: 336px;
  height: 720px;
  margin-left: 30px;
  top: 72px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #495057;
  border: 32px;

  border-radius: 10px;
  resize: none;
}

/* Social Media */
.copy {
  position: absolute;
  width: 228px;
  height: 18px;
  top: 780px;
  margin-left: 725px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  /* Gray/gray-400 */

  color: white;

  opacity: 1;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 36px;
  height: 71px;
  margin-left: 550px;
  top: 820px;
}

.social-media img {
  width: 50px;
}

.social-media span {
  font-size: 20px;
}

.instagram a,
.twitter a,
.github a,
.linkedin a {
  display: flex;
  align-items: center;
  gap: 5px;

  color: #343a40;
  text-decoration: none;
}

.instagram a:hover,
.twitter a:hover,
.github a:hover,
.linkedin a:hover {
  color: #ced4da;
}

@media screen and (max-width: 960px) {
  body {
    width: auto;
    top: 150px;
    left: -280px;
  }

  .img {
    position: absolute;
    top: -160px;
    left: 210px;
  }

  section input {
    position: absolute;
    top: -100px;
    left: 240px;
    width: 290px;
    height: 60px;
  }

  #input {
    position: absolute;
    top: 70px;
    left: 50px;
  }

  #card {
    position: absolute;
    top: 100px;
    left: -728px;
    height: 600px;
    width: 300px;
  }

  #card h3 {
    position: absolute;
    top: 10px;
    left: -48px;
    margin-top: 0px;
  }

  #card p {
    position: absolute;
    top: 75px;
    left: -50px;
    margin-top: 0px;
  }

  #exclamacaoAviso {
    position: absolute;
    top: 200px;
    left: -200px;
    margin-top: 0px;
  }

  #btn_cript {
    position: absolute;
    top: -100px;
    left: 220px;
    margin-bottom: 15px;
    width: 290px;
    height: 60px;
  }

  #btn_descript {
    position: absolute;
    top: -30px;
    left: -100px;
    width: 290px;
    height: 60px;
  }

  #card2 {
    position: absolute;
    top: 100px;
    left: 270px;
    height: 130px;
    width: 270px;
  }

  #show {
    position: absolute;
    left: -1020px;
    width: 270px;
    height: 130px;
    top: 10px;
  }

  #btn3 {
    position: absolute;
    top: 170px;
    left: -1050px;
    /* bottom: 10px; */
    width: 290px;
    height: 60px;
  }

  #position {
    position: absolute;
    top: 330px;
    left: 50px;
  }

  /* RodaPe */

  .instagram {
    position: absolute;
    left: -260px;
    top: 200px;
  }

  .twitter {
    position: absolute;
    left: -80px;
    top: 200px;
  }

  .github {
    position: absolute;
    left: -260px;
    top: 260px;
  }

  .linkedin {
    position: absolute;
    left: -80px;
    top: 260px;
  }

  .copy {
    position: absolute;
    left: -400px;
    top: 1150px;
  }
}
